@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
}

.signup-button{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 0.8rem;
    font-weight: bold;
    color:#FFF;
    margin: 20px 0px;
    min-width: 250px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px;
}