.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 48px);
  gap: 0px;
}

.glass {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
}

.outlet-content {
  width: 500px;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(4.5px);
}

.image-content {
  width: 500px;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden;
}
